/* Globales */
*::after, /*crea un pseudo-elemento que es el último hijo del elemento seleccionado. Es comunmente usado para añadir contenido cosmético a un elemento con la propiedad content.Es en linea (inline) de forma predeterminada.*/
*::before,/*crea un pseudoelemento que es el primer hijo del elemento seleccionado. Es usado normalmente para añadir contenido estético a un elemento, usando la propiedad content. Este elemento se muestra en línea con el texto de forma predeterminada.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  rgb(176, 158, 139);;
    margin: 0 auto;
    max-width: 1200px;/*se utiliza para establecer el ancho máximo de un elemento especificado.*/
    font-family: 'Lato';
    color: #333;
    font-family: 'Chakra Petch', sans-serif;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
    font-family: 'Chakra Petch', sans-serif;
}

.icon-cart:hover{ 
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    background-color: rgb(157, 142, 126);
    display: flex;
    justify-content: space-between;/*define cómo el navegador distribuye el espacio entre y alrededor de los elementos de contenido a lo largo del eje principal de un contenedor flexible y el eje en línea de un contenedor de cuadrícula.*/
    padding: 25px 0 15px 0;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 10px;

}
.item>li{
    display:inline-block;
    padding: 0% 2%;
    list-style: none;/* le permite establecer todas las propiedades de estilo de lista a la vez.*/

}
.item>li a{
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;/*se fija con respecto a la esquina superior izquierda de la página, a menos que ese elemento tenga un antepasado posicionado (es decir, con un valor relative, absolute o fixed para position), en cuyo caso su posición se fija con respecto a la esquina superior izquierda de ese antepasado.*/
    top: 55%;
    right: 0;

    background-color: #000;
    color:  #eadede;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;/*define cómo distribuye el navegador el espacio entre y alrededor de los elementos de contenido a lo largo del eje principal de un contenedor flexible y del eje en línea de un contenedor de rejilla.*/
    align-items: center;/*establece el valor align-self en todos los hijos directos como grupo. En Flexbox, controla la alineación de los elementos en el eje transversal. En Grid Layout, controla la alineación de los elementos en el Eje de Bloques dentro de su área de rejilla.*/
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color:rgb(197, 173, 148);
    width: 400px;
    z-index: 1;/*indica el orden de un elemento posicionado y sus descendientes. Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor.*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;/*define cómo el navegador distribuye el espacio entre y alrededor de los elementos de contenido a lo largo del eje principal de un contenedor flexible y el eje en línea de un contenedor de cuadrícula.*/
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{/*se puede usar para probar si el mecanismo de entrada principal del usuario puede pasar el mouse sobre los elementos.*/
    color: rgb(197, 173, 148);
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;/*especifica los canales entre las filas y las columnas de la cuadrícula.*/
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{/**/
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*define los nombres de línea y las funciones de tamaño de pista de las columnas de la cuadrícula .*/
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;/**/
}

.item figure{
    overflow: hidden;/*especifica: si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque.*/
}

.item:hover img{
    transform: scale(1.2);/* te permite modificar el espacio de coordenadas del modelo de formato visual CSS. Usándola, los elementos pueden ser trasladados, rotados, escalados o sesgados de acuerdo a los valores establecidos.*/
}

.info-product{
    background-color: rgb(245, 238, 238);
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color:rgb(197, 173, 148);
    padding: 15px 10px;
    cursor: pointer;/*especifica el tipo de cursor que se mostrara cuando este se encuentre sobre un elemento.*/
}

.cart-empty{/**/ 
    padding: 20px;
    text-align: center;/*especifica la alineación horizontal del texto de un elemento.*/
}


.hidden{/*puede ser usado para ocultar elelementos de la página que no pueden ser usados hasta que el proceso de login se haya completado . El explorador no dibujará dichos elementos .*/
    display: none;
}

/*Formularios*/

.form *{
    display: inline-block;
    width: 80%;
    margin: 1% 0;
    font-size: 20px;
    text-align: center;
}
.form{
    margin-left: 10%;
    width: 100%;
}
.form>input {
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid rgb(197, 173, 148);/*permite de definir de una vez todas las propiedades individuales border-bottom-color, border-bottom-style, y border-bottom-width, las cuales describen el color, estilo y ancho del borde inferior de un elementos.*/
    outline: none;
}

.button_send,
.button_clear {
    display: inline;
    width: 30%;
    margin-top: 2%;
    margin-left: 6%;
    margin-bottom: 2%;
    padding: 20px;
    background-color: rgb(195, 161, 124);
    ;
    border: 1px solid rgb(195, 137, 75);
    ;
    border-radius: 5%;
    color: #4b4949;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}